@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forza il contenitore principale di React a occupare tutto lo schermo */
#root, html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}